@tailwind base;
@tailwind components;
@tailwind utilities;
/* Default page background and text */
body {
  @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-white;
  transition: background-color 0.3s, color 0.3s;
}
